* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', 'Fredoka One', cursive;
    font-size: 16px;
}

header {
    height: 120px;
}

header h1 {
    font-family: 'Fredoka One';
    font-size: 35px;
    color: #E53772;
    text-align: center;
    padding-top: 35px;
}

.container {
    width: 960px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.team-tag {
    width: calc(100% / 3);
    margin-top: 35px;
    color: white;
    padding: 10px;
}

.float {
    float: left;
}

img {
    height: 89px;
    float: left;
}

.details {
    width: calc(100% - 90px);
    height: 100%;
    background-color: #000;
    line-height: 23px;
    padding: 10px;
    float: left;
}

h2 {
    font-family: 'Fredoka One';
    font-size: 16px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #358BB2;
}