* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

header {
    height: 100px;
}

header h1 {
    color: #E53772;
    text-align: center;
    padding-top: 25px;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container p {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.team-tag {
    background-color: #000;
    height: 90px;
    width: calc(100% / 3);
    border: 1px solid pink;
    margin-top: 40px;
}

.left {
    float: left;
}

.right {
    float: left;
}

img {
    height: 100%;
}